* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica, ui-sans-serif;
}

header #info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
}

header #info .student-name {
    width: 33.3%;
    text-align: left;
    margin: auto 0;
}

header #info .page-name {
    color: white;
    font-family: Helvetica, ui-sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    width: 33.3%;
    text-align: center;
    margin: auto 0;
}

header #info .student-isu {
    width: 33.3%;
    text-align: right;
    margin: auto 0;
}

header hr {
    margin-bottom: 0;
}

footer #footer-info-container {
    padding: 0.5rem;
}

footer hr {
    margin-top: 0;
}

#github {
    display: block;
    color: lightgray;
    text-decoration: none;
    text-align: center;
    padding: 0.1rem;
}

#github:hover {
    color: gray;
    transition: ease 0.5ms;
}

input[type="submit"],
.redirect-button {
    padding: 1rem 4rem;
    background: black;
    border: 0.1rem solid white;
    border-radius: 0;
    color: white;
    font-family: Helvetica, ui-sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
.redirect-button:hover {
    background: white;
    box-shadow: 0 0 1rem 0.25rem lightgray;
    color: black;
}