input[type="submit"] {
    padding: 1rem 4rem;
    background: transparent;
    border: 0.1rem solid white;
    color: white;
    font-family: Helvetica, ui-sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background: white;
    box-shadow: 0 0 1rem 0.25rem lightgray;
    color: black;
}