body {
    background-image: url("#{resource['image:bg-time.png']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

.clock-section {
    display: block;
    width: 300px;
    height: 300px;
}