body {
    background-image: url("#{resource['image:bg-main.png']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}